<div class="container">
  <div class="card">
    <div class="card-image">
    </div>
    <form class="card-form" [formGroup]="inscriptionForm" (ngSubmit)="onInscriptionForm()">

      <!-- Gestion du nom -->
      <div class="input">
        <input type="text" class="input-field" formControlName="nom" required/>
        <label class="input-label">Nom</label>
      </div>
      <div class="error"
           *ngIf="inscriptionForm.controls.nom?.invalid && (inscriptionForm.controls.nom?.dirty || inscriptionForm.controls.nom?.touched)">
        <div *ngIf="inscriptionForm.controls.nom?.errors?.['required']">
          Le nom est requis.
        </div>
        <div *ngIf="inscriptionForm.controls.nom?.errors?.['pattern']">
          Le nom ne doit contenir que des lettres.
        </div>
      </div>

      <!-- Gestion du prénom -->
      <div class="input">
        <input type="text" class="input-field" formControlName="prenom" required/>
        <label class="input-label">Prenom</label>
      </div>
      <div class="error"
           *ngIf="inscriptionForm.controls.prenom?.invalid && (inscriptionForm.controls.prenom?.dirty || inscriptionForm.controls.prenom?.touched)">
        <div *ngIf="inscriptionForm.controls.prenom?.errors?.['required']">
          Le prénom est requis.
        </div>
        <div *ngIf="inscriptionForm.controls.prenom?.errors?.['pattern']">
          Le prénom ne doit contenir que des lettres.
        </div>
      </div>

      <!-- Gestion de l'email -->
      <div class="input">
        <input type="text" class="input-field" formControlName="email" required/>
        <label class="input-label">Email</label>
      </div>
      <div class="error"
           *ngIf="inscriptionForm.controls.email?.invalid && (inscriptionForm.controls.email?.dirty || inscriptionForm.controls.email?.touched)">
        <div *ngIf="inscriptionForm.controls.email?.errors?.['required']">
          L'email est requis.
        </div>
        <div *ngIf="inscriptionForm.controls.email?.hasError('hasAt'); else elseBlock">
          L'email doit contenir un @.
        </div>
        <ng-template #elseBlock>
          <div *ngIf="inscriptionForm.controls.email?.errors?.['pattern']">
            L'email n'est pas valide.
          </div>
        </ng-template>
      </div>

      <!-- Gestion du mot de passe -->
      <div class="input">
        <input type="password" class="input-field" formControlName="mdp" required/>
        <label class="input-label">Mot de passe</label>
      </div>
      <div class="error"
           *ngIf="inscriptionForm.controls.mdp?.invalid && (inscriptionForm.controls.mdp?.dirty || inscriptionForm.controls.mdp?.touched)">
        <div *ngIf="inscriptionForm.controls.mdp?.errors?.['required']">
          Le mot de passe est requis.
        </div>

        <div *ngIf="inscriptionForm.controls.mdp?.errors?.['minlength']">
          Le mot de passe doit contenir au moins 6 caractères.
        </div>
        <div *ngIf="inscriptionForm.controls.mdp?.hasError('hasNumber')">
          Le mot de passe doit contenir au moins un chiffre.
        </div>
        <div *ngIf="inscriptionForm.controls.mdp?.hasError('hasCapitalCase')">
          Le mot de passe doit contenir au moins une majuscule.
        </div>
        <div *ngIf="inscriptionForm.controls.mdp?.hasError('hasSmallCase')">
          Le mot de passe doit contenir au moins une minuscule.
        </div>
        <div *ngIf="inscriptionForm.controls.mdp?.hasError('hasSpecialCharacters')">
          Le mot de passe doit contenir au moins un caractère spécial.
        </div>
      </div>

      <!-- Gestion de la confirmation du mot de passe -->
      <div class="mdpConfirm">
        <input type="password" class="input-field" formControlName="mdp2" required/>
        <label class="input-label">Confirmation</label>
      </div>
      <div class="error"
           *ngIf="inscriptionForm.controls.mdp2?.invalid && (inscriptionForm.controls.mdp2?.dirty || inscriptionForm.controls.mdp2?.touched)">
        <div *ngIf="inscriptionForm.controls.mdp2.hasError('matching')">
          Les mots de passe ne correspondent pas.
        </div>
      </div>

      <!-- Gestion du statut -->
      <div class="input check-box">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="restaurateur" formControlName="restaurateur">
          <label class="form-check-label input-label" for="restaurateur">Restaurateur ?</label>
        </div>
      </div>

      <div class="action">
        <button class="action-button" [disabled]="inscriptionForm.invalid">Inscription</button>
      </div>
    </form>

    <div class="card-info">
      <p>Tu as déjà un compte ?<a href="/connexion">Connecte toi</a></p>
      <p>Pas envie de créer un compte?<a href="">Retour Accueil</a></p>
    </div>
  </div>
</div>
