.donnees{
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #18524e;
  border-radius: 6px;
  color: #FFF;
  border: 0;
}

.p {
  margin: 0;
  line-height: 1.5;
}

.custom-button {
  background-color: #18524e;
  color: #fff;
  outline: none;
}