button {
  border: 0;
  background-color: inherit;
}

.unlike {
  color: rgb(188, 188, 0);
}

.carte {
  display: inline-block;
  width: 300px;
  height: 330px;
  margin: 0px 10px;
  /* border: solid 1px blue; */
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.carte-image {
  width: 300px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}
.carte .carte-info {
  height: 130px;
  /* border: solid 1px purple; */
  padding: 0px 5px;
}
