<div class="carte">
  <a [routerLink]="['/restaurant', restaurant.id]">
    <div class="card-image">
      <img src="../../assets/{{ restaurant.image }}" alt="" class="card-img-top">
    </div>
  </a>
  <div class="card-body">
    <a [routerLink]="['/restaurant', restaurant.id]"><h3 class="nom-hover card-title">{{ restaurant.nom }}</h3></a>
    <h5>
      <button (click)="onLike()" class="{{ class }}">
        <i class="fa-solid fa-star"></i> {{ restaurant.popularite }}
      </button>
    </h5>
    <h5 class="card-text">{{ restaurant.adresse }}</h5> <br>
  </div>
</div>