button {
  border: 0;
  background-color: inherit;
  /*border: green;*/
}

.unlike {
  color: rgb(188, 188, 0);
}

.carte {
  width: 300px;
  height: 100%;
  margin: 0 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-image {
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}

.nom-hover:hover {
  color: #d6955b;
}
