<div class="container">
  <div class="card">
    <div class="card-image">
    </div>
    <form class="card-form" [formGroup]="restaurantForm" (ngSubmit)="onRestaurantForm()">

      <div class="input">
        <input type="text" class="input-field" formControlName="nom" required/>
        <label class="input-label">Nom</label>
      </div>
      <div class="error"
           *ngIf="restaurantForm.controls.nom?.invalid && (restaurantForm.controls.nom?.dirty || restaurantForm.controls.nom?.touched)">
        <div *ngIf="restaurantForm.controls.nom?.errors?.['required']">
          Le nom est requis.
        </div>
        <div *ngIf="restaurantForm.controls.nom?.errors?.['pattern']">
          Le nom ne doit contenir que des lettres.
        </div>
      </div>

      <div class="input">
        <input type="text" class="input-field" formControlName="adresse" required/>
        <label class="input-label">Adresse</label>
      </div>
      <div class="error"
           *ngIf="restaurantForm.controls.adresse?.invalid && (restaurantForm.controls.adresse?.dirty || restaurantForm.controls.adresse?.touched)">
        <div *ngIf="restaurantForm.controls.adresse?.errors?.['required']">
          L'adresse est requise.
        </div>
      </div>

      <div class="input">
        <input type="text" class="input-field" formControlName="description" required/>
        <label class="input-label">Description</label>
      </div>
      <div class="error"
           *ngIf="restaurantForm.controls.description?.invalid && (restaurantForm.controls.description?.dirty || restaurantForm.controls.description?.touched)">
        <div *ngIf="restaurantForm.controls.description?.errors?.['required']">
          Le mot de passe est requis.
        </div>
      </div>

      <div class="input">
        <select class="input-field" formControlName="prix" required>
          <option value="1">€</option>
          <option value="2">€€</option>
          <option value="3">€€€</option>
        </select>
        <label class="input-label">Prix</label>
      </div>
      <div class="error"
           *ngIf="restaurantForm.controls.prix?.invalid && (restaurantForm.controls.prix?.dirty || restaurantForm.controls.prix?.touched)">
        <div *ngIf="restaurantForm.controls.prix.errors?.['required']">
          Le prix est requis.
        </div>
      </div>

      <div class="input">
        <select class="input-field" formControlName="type" required>
          <option value="1">Fast Food</option>
          <option value="2">Familial</option>
          <option value="3">Romantique</option>
        </select>
        <label class="input-label">Type de Restaurant</label>
      </div>
      <div class="error"
           *ngIf="restaurantForm.controls.type?.invalid && (restaurantForm.controls.type?.dirty || restaurantForm.controls.type?.touched)">
        <div *ngIf="restaurantForm.controls.type.errors?.['required']">
          Le type de restaurent est requis.
        </div>
      </div>

      <div class="action">
        <button class="action-button" [disabled]="restaurantForm.invalid">Ajouter</button>
      </div>
    </form>
  </div>
</div>
