
<br>
<div class="container shadow">
  <div class="card text-center">
    <div class="card-body">
      <h1 class="card-title">{{ restaurant.nom }}</h1>
      <div class="image-container">
        <img src="../../assets/{{ restaurant.image }}" alt="" class="img-fluid carte-image">
        <div class="image-separator"></div>
        <br><br>
      </div>
      <div class="text-left">
        <p class="mt-3">Adresse : {{ restaurant.adresse }} <span class="espaces"></span> Prix :
          <span *ngIf="+restaurant.prix === 1">&euro;</span>
          <span *ngIf="+restaurant.prix === 2">&euro;&euro;</span>
          <span *ngIf="+restaurant.prix === 3">&euro;&euro;&euro;</span>
        </p>
        <p class="card-text">{{ restaurant.description }}</p>
      </div>
    </div>
  </div>
</div>
<br>
