<div class="dashboard">

  <!-- Div contenant les données de l'utilisateur : affiche son compte, et son restaurant dans le cas d'un restaurateur -->
  <div class="affichage_modification affichage">

    <div *ngIf="restaurateurTest; else elseBlock">
      <app-restaurateur [utilisateur]="utilisateur"></app-restaurateur>
    </div>
    <ng-template #elseBlock>
      <app-utilisateur [utilisateur]="utilisateur"></app-utilisateur>
    </ng-template>

  </div>
<!--

  &lt;!&ndash; Div permettant à l'utilisateur de modifier son compte, et son restaurant s'il s'agit d'un restaurateur &ndash;&gt;
  <div class="affichage_modification">

    <div class="compte">

      &lt;!&ndash;<form class="card-form" [formGroup]="inscription.inscriptionForm" (ngSubmit)="inscription.onInscriptionForm()">
        <div class="input">
          <input type="text" class="input-field" formControlName="nom" required/>
          <label class="input-label">Nom</label>
        </div>
        <div class="error"
             *ngIf="inscription.inscriptionForm.controls.nom?.invalid && (inscription.inscriptionForm.controls.nom?.dirty || inscription.inscriptionForm.controls.nom?.touched)">
          <div *ngIf="inscription.inscriptionForm.controls.nom?.errors?.['required']">
            Le nom est requis.
          </div>
          <div *ngIf="inscription.inscriptionForm.controls.nom?.errors?.['pattern']">
            Le nom ne doit contenir que des lettres.
          </div>
        </div>

        <div class="input">
          <input type="text" class="input-field" formControlName="prenom" required/>
          <label class="input-label">Prenom</label>
        </div>
        <div class="error"
             *ngIf="inscription.inscriptionForm.controls.prenom?.invalid && (inscription.inscriptionForm.controls.prenom?.dirty || inscription.inscriptionForm.controls.prenom?.touched)">
          <div *ngIf="inscription.inscriptionForm.controls.prenom?.errors?.['required']">
            Le prénom est requis.
          </div>
          <div *ngIf="inscription.inscriptionForm.controls.prenom?.errors?.['pattern']">
            Le prénom ne doit contenir que des lettres.
          </div>
        </div>

        <div class="input">
          <input type="text" class="input-field" formControlName="email" required/>
          <label class="input-label">Email</label>
        </div>
        <div class="error"
             *ngIf="inscription.inscriptionForm.controls.email?.invalid && (inscription.inscriptionForm.controls.email?.dirty || inscription.inscriptionForm.controls.email?.touched)">
          <div *ngIf="inscription.inscriptionForm.controls.email?.errors?.['required']">
            L'email est requis.
          </div>
          <div *ngIf="inscription.inscriptionForm.controls.email?.hasError('hasAt'); else elseBlock">
            L'email doit contenir un @.
          </div>
          <ng-template #elseBlock>
            <div *ngIf="inscription.inscriptionForm.controls.email?.errors?.['pattern']">
              L'email n'est pas valide.
            </div>
          </ng-template>
        </div>

        <div class="input">
          <input type="password" class="input-field" formControlName="mdp" required/>
          <label class="input-label">Mot de passe</label>
        </div>
        <div class="error"
             *ngIf="inscription.inscriptionForm.controls.mdp?.invalid && (inscription.inscriptionForm.controls.mdp?.dirty || inscription.inscriptionForm.controls.mdp?.touched)">
          <div *ngIf="inscription.inscriptionForm.controls.mdp?.errors?.['required']">
            Le mot de passe est requis.
          </div>

          <div *ngIf="inscription.inscriptionForm.controls.mdp?.errors?.['minlength']">
            Le mot de passe doit contenir au moins 6 caractères.
          </div>
          <div *ngIf="inscription.inscriptionForm.controls.mdp?.hasError('hasNumber')">
            Le mot de passe doit contenir au moins un chiffre.
          </div>
          <div *ngIf="inscription.inscriptionForm.controls.mdp?.hasError('hasCapitalCase')">
            Le mot de passe doit contenir au moins une majuscule.
          </div>
          <div *ngIf="inscription.inscriptionForm.controls.mdp?.hasError('hasSmallCase')">
            Le mot de passe doit contenir au moins une minuscule.
          </div>
          <div *ngIf="inscription.inscriptionForm.controls.mdp?.hasError('hasSpecialCharacters')">
            Le mot de passe doit contenir au moins un caractère spécial.
          </div>
        </div>

        <div class="mdpConfirm">
          <input type="password" class="input-field" formControlName="mdp2" required/>
          <label class="input-label">Confirmation</label>
        </div>
        <div class="error"
             *ngIf="inscription.inscriptionForm.controls.mdp2?.invalid && (inscription.inscriptionForm.controls.mdp2?.dirty || inscription.inscriptionForm.controls.mdp2?.touched)">
          <div *ngIf="inscription.inscriptionForm.controls.mdp2.hasError('matching')">
            Les mots de passe ne correspondent pas.
          </div>
        </div>

        <div class="action">
          <button class="action-button" [disabled]="inscription.inscriptionForm.invalid">Inscription</button>
        </div>

      </form>&ndash;&gt;
    </div>





    <ng-template *ngIf="restaurateurTest">

      &lt;!&ndash; Si le restaurateur a déjà saisi un restaurant, on lui propose de modifier ses données &ndash;&gt;
      <ng-container *ngIf="restaurant; else creer_restaurant">
        <div class="restaurant">

          <form class="modifier_restaurant">

            <div class="input">
              <input type="text" class="input-field" value="{{restaurant.nom}}" required/>
              <label class="input-label">Nom : </label>
            </div>

            <div class="input">
              <input type="text" class="input-field" value="{{restaurant.adresse}}" required/>
              <label class="input-label">Adresse : </label>
            </div>

            &lt;!&ndash; image &ndash;&gt;

            <div class="input">
              <input type="text" class="input-field" value="{{restaurant.description}}" required/>
              <label class="input-label"> Description : </label>
            </div>

            <div class="input">
              <input type="text" class="input-field" value="{{restaurant.prix}}" required/>
              <label class="input-label">Prix : </label>
            </div>

          </form>
        </div>

      </ng-container>

      &lt;!&ndash; Si le restaurateur n'a pas de restaurant, on lui propose d'en saisir un &ndash;&gt;
      <ng-template #creer_restaurant>
        &lt;!&ndash; <app-ajout-restaurant [restaurateur]="restaurateur"></app-ajout-restaurant> &ndash;&gt;
      </ng-template>
    </ng-template>

  </div>
-->

</div>
